packages
*.suo
**/bin/*
**/obj/*
*proj.user
.vs
.build/*
build-output
.form-assemblies
*.user.config
.debug-generated
**/*.WebHost/.logs/*
**/*.WebHost/.errors/*
**/*.WebHost/КэшМетаописанийФорм/*
**/Logs/*

JsDoc/jsdoc/*
JsDoc/*.exe
/packages
*.DotSettings.user
/.idea/
/.fake/
/build/
/paket-files/
